<section class="block remove-gap">
    <div class="container">
        <div class="heading1">
            <h2><i>گوشی های جدید  </i>- به زودی</h2>
            <span>برای هر سلیقه و هر بودجه</span>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="best-seller most-sold">
                    <div class="sold-thumb">
                        <img alt="" src="~/SiteContent/images/up-coming15.jpg" /><a href="./single-post.html" title="">جزئیات</a>
                        <i class="box1"></i>
                        <i class="box2"></i>
                        <i class="box3"></i>
                        <i class="box4"></i>
                    </div>
                    <h3>بهترین برند گوشی سال</h3>

                    <ul class="tooltip-btn">
                        <li class="cart"><a href="#" title=""><i class="fa fa-heart"></i></a></li>
                        <li class="shop"><a href="#" title=""><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a href="#" title="">جزئیات</a>
                    <h6>جدید</h6>
                    <span><i>36000 تومان</i>46000 تومان</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="best-seller most-sold">
                    <div class="sold-thumb">
                        <img alt="" src="~/SiteContent/images/up-coming5.jpg" /><a href="./single-post.html" title="">جزئیات</a>
                        <i class="box1"></i>
                        <i class="box2"></i>
                        <i class="box3"></i>
                        <i class="box4"></i>
                    </div>
                    <h3>بهترین برند گوشی سال</h3>

                    <ul class="tooltip-btn">
                        <li class="cart"><a href="#" title=""><i class="fa fa-heart"></i></a></li>
                        <li class="shop"><a href="#" title=""><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a href="#" title="">جزئیات</a>
                    <span><i>36000 تومان</i>46000 تومان</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="best-seller most-sold">
                    <div class="sold-thumb">
                        <img alt="" src="~/SiteContent/images/up-coming8.jpg" /><a href="./single-post.html" title="">جزئیات</a>
                        <i class="box1"></i>
                        <i class="box2"></i>
                        <i class="box3"></i>
                        <i class="box4"></i>
                    </div>
                    <h3>بهترین برند گوشی سال</h3>

                    <ul class="tooltip-btn">
                        <li class="cart"><a href="#" title=""><i class="fa fa-heart"></i></a></li>
                        <li class="shop"><a href="#" title=""><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a href="#" title="">جزئیات</a>
                    <h6>جدید</h6>
                    <span><i>36000 تومان</i>46000 تومان</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="best-seller most-sold">
                    <div class="sold-thumb">
                        <img alt="" src="~/SiteContent/images/up-coming1.jpg" /><a href="./single-post.html" title="">جزئیات</a>
                        <i class="box1"></i>
                        <i class="box2"></i>
                        <i class="box3"></i>
                        <i class="box4"></i>
                    </div>
                    <h3>بهترین برند گوشی سال</h3>

                    <ul class="tooltip-btn">
                        <li class="cart"><a href="#" title=""><i class="fa fa-heart"></i></a></li>
                        <li class="shop"><a href="#" title=""><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a href="#" title="">جزئیات</a>
                    <h6>جدید</h6>
                    <span><i>36000 تومان</i>46000 تومان</span>
                </div>
            </div>

        </div>
    </div>
</section>