
<section class="block" id="inner-head">
    <div class="fixed-img sec-bg4"></div>
    <div class="container">
        <h1>درباره ما</h1>
    </div>
</section>

<section class="block">
    <div class="container">
        <div class="title-head">
            <h2>توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید.  </h2>
        </div>
    </div>
</section>


<section class="block remove-gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="our-skills-sec">
                    <div class="heading1">
                        <h2><i>مهارت های  </i>ما </h2>
                        <span>توضیحات خود را در این قسمت بنویسید. </span>
                    </div>

                    <ul>
                        <li><p>توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. </p></li>
                        <li>
                            <i class="fa fa-pagelines"></i>
                            <div class="progress">
                                <div style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar">
                                    <span class="sr-only">70%</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <i class="fa fa-folder-open"></i>
                            <div class="progress">
                                <div style="width: 55%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar">
                                    <span class="sr-only">55%</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <i class="fa fa-credit-card"></i>
                            <div class="progress">
                                <div style="width: 90%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar">
                                    <span class="sr-only">90%</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <i class="fa fa-circle-o"></i>
                            <div class="progress">
                                <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar">
                                    <span class="sr-only">60%</span>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>


            <div class="col-md-6">

                <div class="why-us">
                    <div class="heading1">
                        <h2><i>چرا  </i>ما ؟</h2>
                        <span>توضیحات خود را در این قسمت بنویسید. </span>
                    </div>

                    <div id="toggle-widget" class="why-us-sec">
                        <h2><i class="fa fa-location-arrow"></i>پرسش خود را در اینجا می توانید بنویسید؟ </h2>
                        <div class="content">
                            <p>توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. </p>
                        </div>
                        <h2><i class="fa fa-location-arrow"></i>پرسش خود را در اینجا می توانید بنویسید؟ </h2>
                        <div class="content">
                            <p>توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. </p>
                        </div>
                        <h2><i class="fa fa-location-arrow"></i>پرسش خود را در اینجا می توانید بنویسید؟ </h2>
                        <div class="content">
                            <p>توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. </p>
                        </div>
                        <h2><i class="fa fa-location-arrow"></i>پرسش خود را در اینجا می توانید بنویسید؟ </h2>
                        <div class="content">
                            <p>توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="block">
    <div class="fixed-img sec-bg7"></div>
    <div class="container">
        <div class="row our-shop-section">
            <div class="col-md-8">
                <div class="tab-content" id="myTabContent">
                    <div id="our-shop1" class="tab-pane fade in active our-shop-big">
                        <div class="our-shop-thumb">
                            <img src="~/SiteContent/images/our-shop11.jpg" alt="" />
                            <span>عنوان مناسب برای این قسمت انتخاب کنید</span>
                            <i class="shop-box1"></i>
                            <i class="shop-box2"></i>
                            <i class="shop-box3"></i>
                            <i class="shop-box4"></i>
                            <i class="shop-box5"></i>
                            <i class="shop-box6"></i>
                            <i class="shop-box7"></i>
                            <i class="shop-box8"></i>
                        </div>
                        <p>توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. </p>
                    </div>
                    <div id="our-shop2" class="tab-pane fade our-shop-big">
                        <div class="our-shop-thumb">
                            <img src="~/SiteContent/images/our-shop22.jpg" alt="" />
                            <span>عنوان مناسب برای این قسمت انتخاب کنید</span>
                            <i class="shop-box1"></i>
                            <i class="shop-box2"></i>
                            <i class="shop-box3"></i>
                            <i class="shop-box4"></i>
                            <i class="shop-box5"></i>
                            <i class="shop-box6"></i>
                            <i class="shop-box7"></i>
                            <i class="shop-box8"></i>
                        </div>
                        <p>توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. </p>
                    </div>
                    <div id="our-shop3" class="tab-pane fade our-shop-big">
                        <div class="our-shop-thumb">
                            <img src="~/SiteContent/images/our-shop33.jpg" alt="" />
                            <span>عنوان مناسب برای این قسمت انتخاب کنید</span>
                            <i class="shop-box1"></i>
                            <i class="shop-box2"></i>
                            <i class="shop-box3"></i>
                            <i class="shop-box4"></i>
                            <i class="shop-box5"></i>
                            <i class="shop-box6"></i>
                            <i class="shop-box7"></i>
                            <i class="shop-box8"></i>
                        </div>
                        <p>توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. </p>
                    </div>
                    <div id="our-shop4" class="tab-pane fade our-shop-big">
                        <div class="our-shop-thumb">
                            <img src="~/SiteContent/images/our-shop44.jpg" alt="" />
                            <span>عنوان مناسب برای این قسمت انتخاب کنید</span>
                            <i class="shop-box1"></i>
                            <i class="shop-box2"></i>
                            <i class="shop-box3"></i>
                            <i class="shop-box4"></i>
                            <i class="shop-box5"></i>
                            <i class="shop-box6"></i>
                            <i class="shop-box7"></i>
                            <i class="shop-box8"></i>
                        </div>
                        <p>توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. توضیحات خود را در این قسمت بنویسید. </p>
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs" id="shop-tab1">
                <li class="active col-md-2"><a data-toggle="tab" href="#our-shop1"><img src="~/SiteContent/images/our-shop1.jpg" alt="" /></a></li>
                <li class="col-md-2"><a data-toggle="tab" href="#our-shop2"><img src="~/SiteContent/images/our-shop2.jpg" alt="" /></a></li>
                <li class="col-md-2"><a data-toggle="tab" href="#our-shop3"><img src="~/SiteContent/images/our-shop3.jpg" alt="" /></a></li>
                <li class="col-md-2"><a data-toggle="tab" href="#our-shop4"><img src="~/SiteContent/images/our-shop4.jpg" alt="" /></a></li>
            </ul>
        </div>
    </div>
</section>


<section class="block">
    <div class="container">
        <div class="heading1">
            <h2><i>تیم  </i>ما </h2>
            <span>توضیحات خود را اینجا بنویسید</span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="our-skills2">
                    <img src="~/SiteContent/images/skills1.jpg" alt="" />
                    <h3>نوشین بهشتی</h3>
                    <span>طراح گرافیست</span>
                    <ul>
                        <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="our-skills2">
                    <img src="~/SiteContent/images/skills2.jpg" alt="" />
                    <h3>نوشین بهشتی</h3>
                    <span>طراح گرافیست</span>
                    <ul>
                        <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="our-skills2">
                    <img src="~/SiteContent/images/skills3.jpg" alt="" />
                    <h3>نوشین بهشتی</h3>
                    <span>طراح گرافیست</span>
                    <ul>
                        <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>